.get-news {
  display: flex;
  flex-wrap: wrap;
}

.get-news > div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-news-content {
  display: flex;
  flex-direction: column;
  gap: 110px;
}

.get-news-content p {
  color: #272727;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.get-news-content span,
.get-news-content input[type="email"] {
  color: #959595;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.submit-email {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 2px solid #000;
  padding-bottom: 8px;
}

.submit-email input[type="email"] {
  flex-grow: 1;
}

.get-news-input-submit:hover {
  cursor: pointer;
}

@media (max-width: 700px) {
  .get-news-content {
    padding: 20px;
    gap: 60px;
  }

  .get-news-content p {
    font-size: 14px;
  }

  .get-news-content span,
  .get-news-content input[type="email"] {
    font-size: 18px;
  }
}
